.footer{
    width: 100%;
    padding: 6rem 0;
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.left{
    height: 100%;
    max-width: 100%;
    display: fkex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
}
.location p{
    margin-top: 1px;
    line-height: 12px;
}
.right{
    height: 100%;
    margin-top: 1px;
    line-height: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}